<div class="sticky top-0 bg-teal-500 text-white text-center py-8 text-lg">
  <strong>Gensho is in maintenance mode and no longer operational.</strong> Thank you to all who supported this app during its lifetime!
</div>

<nav class="border-b border-gray-200">
  <div class="py-6 px-6 max-w-[1200px] mx-auto my-0 flex justify-between">
      <a href="/" class="logo"><%= image_tag('logo.png', width: "170") %></a>
      <ul class="text-sm flex gap-4 items-center">
        <%= link_to 'Pricing', '/#home-section-pricing', class: "text-gray-500 hover:text-gray-900" %>
        <%= link_to 'About', '/about', class: "text-gray-500 hover:text-gray-900" %>
        <%= link_to 'Blog', '/blog', class: "text-gray-500 hover:text-gray-900" %>
        <%= link_to "Login", "login", class: "btn-sm btn-secondary" %>
        <%= link_to "Sign up", "signup", class: "btn-sm btn-primary" %>
      </ul>
  </div>
</nav>