<!DOCTYPE html>
<html>
  <head>
    <title>Gensho</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  
<body>
  <div id="wrapper">
    <%= render 'layouts/header' %>
    
    <div id="content">

      <div id="reactcontent"></div>
      <div class="container alert-container">
        <div class="row">
          <% if notice %>
            <p class="alert alert-success"><%= notice.html_safe %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>
        </div>
      </div>

      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </div>
  
</body>
</html>
